@import "tailwindcss";

@theme {
  /* Fonts */
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;

  /* Colors */
  --color-dark: #313131;
  --color-light: #ffffff;

  --font-sans: var(--font-roboto-condensed);
  --font-mono: var(--font-inconsolata);
  --font-body: var(--font-inconsolata);
}

@layer base {
  body {
    min-width: 320px;
    max-width: 1100px;
    margin: 0 auto;
  }
}
