@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Condensed:wght@700&display=swap");

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}

.font-robotoCondensed {
  font-family: "Roboto Condensed", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
